# **Tarea Nº 1**

Curso:          Fundamentos de Programación en Python para Macroeconomía y Finanzas     
Profesor:       Victor Fuentes Campos

- Fecha y hora de entrega: Jueves 4 de enero, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: ____ Jorge y Joshua ______
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

# 1. Git


a. Commit, Push, Pull

Instrucciones:
1. Cada miembro del equipo debe clonar el repo de su tarea en su computadora
1. Luego, en el branch master (`main`), el integrante Nº 1 cambia el nombre del archivo `.ipynb` a `tarea_1.ipynb`
1. Usando GitHub Desktop, el integrante Nº 2 notará que hay cambios en el repo. Por lo tanto, hará el `pull` de la nueva versión del repo. Ahora ambos tiene el archivo con el nombre apropiado en sus computadoras

*Este ejercicio se calificará directamente en GitHub*

b. Merge conflicts (opcional)

1. El integrante Nº 1 abre un branch nuevo `merge_conflict_practice_1`. En el archivo `tarea_1.ipynb` reemplazará "Armando Paredes" por su nombre. Luego, hará `commit`y `push` de a GitHub. (En Github Desktop se llama `publish`)
1. El integrante Nº 2 abre un branch nuevo `merge_conflict_practice_2`. En el archivo `tarea_1.ipynb` reemplazará "Armando Paredes" por su nombre. Luego, hará `commit`y `push` de a GitHub. (En Github Desktop se llama `publish`)
1. El integrante Nº 1 hará un `pull request`
1. El integrante Nº 2 hará el `review` del `pull request`, aceptará los cambios de su compañero y hará `merge` del branch al `master`. ¡Listo, completaste tu primer pull request!
1. El integrante Nº 2 hará un `pull request`
1. El integrante Nº 1 hará el `review` del `pull request` y habrá un `merge conflict` poeque ambos están cambiando la misma línea de código. Ajuste el archivo y complete el `merge``
Cambie de roles y fuerce un `merge conflict` con una sección diferente del archivo `tarea_1.ipynb` (Fecha de entrega, nombre del curso, etc.)
1. Explique muy brevemente porque se generó el `merge conflict`

*Respuesta: ______________________________*

# 2. Variables

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [12]:
monthly_savings = 10
num_months = 12
intro = "Hello! How are you?"

a. Calculate year_savings using monthly_savings and num_months

In [13]:
# Calculate the product of monthly_savings and num_months
years_savings = monthly_savings * num_months
years_savings

120

b. Print the type of year_savings

In [14]:
# What do you think the resulting type will be? Find out by printing out the type of year_savings.
##type(year_savings) //not defined, it should be type(years_savings) instead
type(years_savings)

int

c. Assign sum of intro and intro to doubleintro

In [15]:
# Calculate the sum of intro and intro and store the result in a new variable doubleintro.
doubleintro = intro + intro

d. Print out doubleintro

In [16]:
# Print out doubleintro. Did you expect this?
print(doubleintro) ## sí, se esperaba que le faltase un espacio

Hello! How are you?Hello! How are you?

# 3. Lists

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [17]:
import numpy as np
f_list = ["Brazil", np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
text1 = ['My', 'new', 'teacher', 'assistant', 'is', 'so', 'boring.']
p1_list = [ 2 , 3, 4, 5 , 6 ]
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1, 91 ]
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

a. Show the indices of the `np.nan`` values in the `f_list` list. We want to see this output: *The indices 1, 2, 5, 8 have np.nan values*. Hint: Use print function and f-strings to insert the indices values.

In [18]:
# Show indices for np.nan values
nan_indices = []
for indice, element in enumerate(f_list):
    if element is np.nan:
        nan_indices.append(indice)
print(f'The indices { ", ".join(map(str, nan_indices))} have np.nan values')

The indices 1, 2, 5, 8 have np.nan values

b. Replicate 4 times the values of the list `p1_list`. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]. Hint: Use multiplication function in listsand see the output.

In [19]:
# Replicates p1_list
print(p1_list*4)

[2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6]

c. Print the length of `f_list`. **Hint: Length function**

In [20]:
# Lenngth of f_list
len(f_list)

9

d. Print `My new teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**

In [21]:
# Printing
print(" ".join(text1))

My new teacher assistant is so boring.

e. Using `values1`, print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>

In [22]:
# Printing
max_v = max(values1)
max_i = values1.index(max_v)
min_v = min(values1)
min_i = values1.index(min_v)
print(f"The max value of values1 is {max_v} and is located in the {max_i} index.")
print(f"The min value of values1 is {min_v} and is located in the {min_i} index.")

The max value of values1 is 91 and is located in the 10 index.
The min value of values1 is 0 and is located in the 7 index.

f. Get two lists: `given_names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**

In [26]:
# Two lists
last_names = list(map(lambda x: x.split(', ')[0], last_and_name))
last_names

['CORNEJO SANCHEZ',
 'ORELLANA QUISPE',
 'MORALES CHOQUEHUANCA',
 'GUIMARAY RIBEYRO',
 'CAMACHO GAVIDIA',
 'TINTAYA ORIHUELA',
 'CHAVEZ MARTINEZ',
 'FIGUEROA MURO',
 'GOMEZ CRIBILLERO',
 'PALOMINO SEGUÍN',
 'LUZON CUEVA',
 'SUAÑA ZEGARRA',
 'SOTO POMACHAGUA',
 'FIORENTINO MARTINEZ',
 'LAMA MAVILA',
 'MEZA HINOJO',
 'LOZADA MURILLO',
 'ZAMBRANO JIMENEZ',
 'JACOBS LUQUE',
 'VIDAL VIDAL',
 'TORRES ANICAMA',
 'LOPEZ ESTRADA',
 'BOYCO ORAMS',
 'DIAZ BERROSPI',
 'RIEGA ESCALANTE',
 'LEVANO TORRES',
 'ESQUIVES BRAVO',
 'PEREZ GONZALES',
 'OTERO MAGUIÑA',
 'CLAVO CAMPOS',
 'AGUILAR GARCIA',
 'CALDAS VELASQUEZ',
 'SALAS NUÑEZ BORJA',
 'PIZARRO VILLANES',
 'QUILLATUPA MORALES',
 'HUANCAYA IDONE',
 'CALVO PORTOCARRERO',
 'IBAÑEZ ABANTO',
 'MELÉNDEZ APONTE',
 'CRISTIAN SERRANO',
 'HINOJOSA CAHUANA',
 'ANGLAS GARCÍA',
 'ALDAVE ACOSTA',
 'NÚÑEZ HUAMÁN',
 'OBREGON HUAMAN',
 'SOTO PACHERRES',
 'INGARUCA RIVERA',
 'ROJAS HUAMAN',
 'NEYRA SALAS',
 'HUERTA ESPINOZA',
 'HUANCA MARTINEZ',
 'FLORES CADILLO']

In [27]:
given_names = list(map(lambda x: x.split(', ')[1],last_and_name))
given_names

['CHRISTIAN SANTOS',
 'CRISTIAN NASSER',
 'ANGELICA KARINA',
 'JOSE ROBERTO',
 'ABEL FERNANDO',
 'MEIR ALVARO',
 'JOSELIN ALEXANDRA',
 'LEONEL ARTURO',
 'JOSE FELIPE',
 'AFRANIA',
 'BIANCA MARIETTE',
 'ADRIAN ANDRE',
 'DORKAS YOMIRA JHERMY',
 'LADY ALY',
 'HECTOR ANDRE',
 'GUSTAVO',
 'PERSEO MARCELO',
 'MIGUEL ALONZO',
 'NICOLAS',
 'ROCIO GABRIELA',
 'JANE CAMILA',
 'MARIA ELISA',
 'ALEJANDRO',
 'KARLINE ROSMELI',
 'STEPHY ROSARIO',
 'VALERIA CECILIA',
 'SEBASTIAN RENATO',
 'JUAN CARLOS',
 'MARIANA',
 'ANDREA BRIZETH',
 'ERICK JOSUE',
 'JOSUE DANIEL',
 'FABIO MANUEL',
 'FERNANDA NICOLLE',
 'ANGELA ADELINA',
 'CESAR DANTE',
 'GABRIELA ISABEL',
 'ANGEL MAURICIO',
 'JUAN DIEGO',
 'ARONE',
 'PERCY ALBERTH',
 'KEVIN ARTURO',
 'CESAR ERNESTO',
 'CÉSAR AGUSTO',
 'DIANA EDITH',
 'RODRIGO FRANCO',
 'GRETTEL ALEXANDRA',
 'ROSA ANGELA',
 'DANTE OMAR',
 'YAJAIRA ALEXANDRA',
 'JORGE ALBERTO',
 'ALEXIS']

g. (Opcional) Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**

In [28]:
# List of of those who do not have email
list(map(lambda x: x[0], filter(lambda x: (x[1] == ''), zip(last_names,emails))))

['HUANCAYA IDONE',
 'CALVO PORTOCARRERO',
 'IBAÑEZ ABANTO',
 'MELÉNDEZ APONTE',
 'CRISTIAN SERRANO',
 'ANGLAS GARCÍA',
 'ALDAVE ACOSTA',
 'NÚÑEZ HUAMÁN',
 'OBREGON HUAMAN',
 'SOTO PACHERRES',
 'INGARUCA RIVERA',
 'ROJAS HUAMAN',
 'NEYRA SALAS',
 'HUERTA ESPINOZA',
 'HUANCA MARTINEZ']

# 4.   Tuple

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [29]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

1. Print the first item of the second item of tuple1 object

In [30]:
# Print
print(tuple1[1][0])

10

2. Print the last item of the tuple1 object

In [31]:
# Print
print(tuple1[-1])

(5, 15, 25)

3. Change the value "orange" for "pink grapefruit". Comment the output

In [32]:
# Change value
tuple1[0] = 'pink grapefruit' # We can't change values in tuples once created

TypeError: 'tuple' object does not support item assignment

4. Print the length of tuple1

In [33]:
# Print
len(tuple1)

3

5. Sum all the elements of tuple2 and describe your steps and explain each of them. Hint: Use map function.

In [34]:
# Sum all elemenets of tuple2
sum((map(lambda x: sum(x), tuple2))) #first we sum the values of each tuple value list, then we sum the list of that results

42

6. (Opcional) Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar as tuple2, tuple of lists. Hint: Use map funciont.

In [35]:
# New tuple
tuple2

([7, 8], [9, 1], [10, 7])

# 5. Strings

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [6]:
str1 = 'I am                            too                                                        old'
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

In [7]:
# Drop duplicated blank spaces
' '.join(str1.split()) # First I remove the blank spaces and create a list of strings then join them with a space

'I am too old'

2. Get the number of letters in the string .**Hint: Use `len`function.**

In [8]:
# Number of letters
len(list(filter(lambda x: (x != ' '), str1)))

9

3. (Optional) Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

In [11]:
# Number of blanck spaces
len(list(filter(lambda x: (x == ' '), str1)))

85

# 6. NumPy

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [2]:
prueba1 = np.random.randint(0,10,500)
prueba1

array([3, 9, 1, 8, 6, 8, 7, 3, 8, 3, 5, 0, 0, 3, 5, 0, 8, 9, 0, 7, 5, 5,
       1, 5, 3, 0, 3, 8, 1, 4, 6, 9, 8, 9, 3, 8, 1, 9, 7, 5, 2, 1, 0, 9,
       2, 5, 2, 5, 3, 2, 4, 0, 5, 1, 7, 1, 7, 5, 8, 7, 4, 2, 4, 0, 2, 1,
       6, 7, 5, 4, 6, 6, 3, 7, 8, 5, 9, 0, 0, 3, 4, 2, 7, 8, 6, 8, 0, 1,
       5, 5, 0, 0, 4, 7, 3, 6, 0, 2, 9, 4, 2, 7, 6, 5, 5, 1, 3, 9, 0, 4,
       9, 7, 0, 6, 3, 4, 2, 9, 0, 2, 3, 5, 0, 8, 4, 8, 3, 5, 0, 1, 2, 1,
       6, 3, 5, 2, 0, 7, 7, 8, 1, 4, 2, 0, 4, 9, 3, 3, 7, 6, 9, 0, 7, 2,
       1, 0, 0, 1, 1, 5, 1, 3, 6, 8, 9, 8, 0, 6, 4, 7, 6, 7, 4, 4, 2, 1,
       8, 5, 4, 1, 7, 9, 5, 5, 9, 8, 2, 0, 0, 5, 4, 6, 3, 2, 4, 9, 0, 5,
       8, 4, 4, 8, 7, 3, 7, 0, 7, 7, 5, 9, 2, 4, 5, 1, 8, 3, 5, 2, 2, 1,
       8, 8, 5, 1, 3, 6, 1, 5, 8, 6, 1, 0, 4, 5, 1, 1, 8, 4, 4, 2, 4, 7,
       4, 9, 0, 1, 9, 8, 0, 7, 2, 7, 4, 1, 0, 2, 6, 8, 2, 7, 7, 6, 9, 4,
       2, 9, 8, 6, 8, 3, 5, 8, 8, 3, 1, 5, 7, 2, 8, 3, 1, 9, 0, 4, 9, 2,
       2, 9, 6, 2, 5, 8, 9, 7, 2, 0, 8, 2, 9, 1, 9, 5, 9, 0, 0, 8, 8, 1,
       5, 8, 9, 8, 1, 8, 8, 5, 3, 9, 6, 5, 1, 8, 1, 0, 0, 3, 7, 3, 1, 8,
       8, 4, 9, 4, 4, 5, 7, 4, 1, 3, 9, 7, 5, 2, 6, 7, 7, 8, 9, 7, 1, 4,
       6, 3, 7, 9, 5, 8, 9, 8, 3, 3, 0, 5, 0, 9, 6, 6, 3, 7, 5, 3, 9, 7,
       3, 2, 9, 6, 2, 3, 1, 1, 7, 5, 9, 3, 4, 7, 8, 0, 9, 5, 1, 6, 5, 8,
       3, 2, 8, 5, 3, 4, 8, 4, 2, 6, 4, 7, 8, 6, 4, 2, 0, 9, 8, 2, 4, 0,
       3, 4, 5, 1, 6, 0, 4, 5, 1, 2, 8, 1, 8, 4, 9, 8, 6, 5, 0, 2, 3, 9,
       2, 4, 0, 4, 5, 7, 2, 3, 3, 4, 8, 7, 1, 3, 8, 4, 3, 2, 8, 0, 8, 3,
       5, 0, 0, 5, 1, 3, 6, 0, 4, 6, 3, 9, 7, 4, 1, 2, 0, 2, 3, 6, 6, 2,
       7, 6, 6, 7, 7, 6, 3, 2, 0, 5, 2, 3, 8, 0, 3, 3])

In [3]:
prueba2 = np.arange(50)
np.random.shuffle(prueba2)
prueba2

array([ 0,  1, 24, 43, 10, 47, 49, 33, 44, 39,  2, 15, 31, 28, 45, 42, 16,
       34,  6, 38,  4, 36,  5, 11, 21,  9, 13, 20, 14,  8, 12, 48, 40, 41,
       30, 22, 27, 46, 19, 25, 29, 26,  3, 32, 17,  7, 35, 37, 18, 23])

a. Find the most frequent value in the prueba1 array?

In [4]:
# Most frequent value
np.bincount(prueba1).argmax()

8

b. Convert the 1D array prueba2 to a 2D array with 5 rows

In [5]:
# Reshape
np.reshape(prueba2, (5, -1))

array([[ 0,  1, 24, 43, 10, 47, 49, 33, 44, 39],
       [ 2, 15, 31, 28, 45, 42, 16, 34,  6, 38],
       [ 4, 36,  5, 11, 21,  9, 13, 20, 14,  8],
       [12, 48, 40, 41, 30, 22, 27, 46, 19, 25],
       [29, 26,  3, 32, 17,  7, 35, 37, 18, 23]])